<h4> Currently CSV and JSON formats are supported for downloads. </h4>
<button class="btn btn-success" id="csvExport">CSV Export</button>
<button class="btn btn-info" id="jsonExport">JSON Export</button>
