<h3> Simple exploratory analysis tool built using MITHgrid library.</h3>
<ul class="list">
  <li><button class="btn btn-success" id="csvUpload">Presidential Data</button></li>
  <li><button class="btn btn-info" id="defUpload">Assignment Scores Data</button></li>
</ul>
<div class="message alert alert-success fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Success!</strong> Switch to Data or Visualize tabs to proceed.
</div>
