body{
	padding-top: 60px;
	font-family: 'Exo', sans-serif;
	/*font-family: 'Wire One', sans-serif;*/
	/*font-family: 'Roboto Slab', serif;*/
}

/*Input method lists*/
.list{
	list-style: none;

}

.list > li {
	margin: 10px;
}
.list >li>button{
	padding: 15px;
}

.container{
	border-right:1px solid;
}


/* 
editTable Presentation
*/
.jsonTable > table > tbody > tr > td > input {
  width: 100%;
}


/* Style for table body*/
.jsonTable > table > tbody > tr > td, .csvTable > table > tbody > tr > td {
	background-color: #cdf;
	padding: 10px ;
	border:1px solid #eee;
}
/* Style for table header*/
.jsonTable > table > tbody > tr > th , .csvTable > table > tbody > tr > th{
	padding: 10px;
	border:1px solid #ccc;
}

/* D3 */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* Graph Presentation */
.graph-controls > div{
  float:left;
}
.graph-controls{
  border-radius: 10px;
  background-color: #eee;
  padding:20px;
}
.jsonPlot{
  background-color: #eeeff8;
}

.curtains{
  z-index: 99999;
  top:0px;
  left:0px;
  background-color: black;
  position: fixed;
  height: 100%;
  width:100%;
  text-align: center;
}

.font{
  font-size: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
}

div.welcome-container{
    width:600px;
    margin:120px auto;
}
      
.welcome-title{
  color:#1DC4F9;
  font-size: 150px;
  line-height: 150px;
}

#drop_zone{
  padding: 20px;
  border: 2px dashed #ccc;

}

.hero-unit{
  padding: 30px;
}
